@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nvgeit');
  src:  url('fonts/icomoon.eot?nvgeit#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nvgeit') format('truetype'),
    url('fonts/icomoon.woff?nvgeit') format('woff'),
    url('fonts/icomoon.svg?nvgeit#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 1em;
    line-height: 1.25;
    display: inline-block;
    padding-right: 0.5em;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-twitch:before {
  content: "\ea9f";
}
.icon-steam2:before {
  content: "\eaad";
}
.icon-github:before {
  content: "\eab0";
}
.icon-reddit:before {
  content: "\eac6";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-stackoverflow:before {
  content: "\ead0";
}
